.font{
    color: #405F43;
    padding-left: 30px;
    font-size: 30px;
    font-family: Outfit-ExtraBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', AVerdana, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.content{
  position: inherit;
  margin: 10px;
  /* left: 50%; 
  transform: translateX(-50%);  */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 700px;
  height: 70px;
  white-space: nowrap;
}

.icon{
    width: 60px;
    height: 60px;
    z-index: 100;
}